/* 
    Created on : 08-Mar-2020, 16:19:09
    Author     : marco
*/

div.descrizione {padding: 1em;width: 80%;margin: auto;background-color: #e27e7e;margin-bottom: 1cm;border-radius: 2cm;border: solid;border-style: dotted;}

div.descrizione h3 {margin-top: 0;font-size: 25px;}

table caption {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: oblique;
}

table {
    caption-side: top;
    margin: auto;
}

header {
    padding: 0.5cm 0 0.5cm 0;
    background-color: darkseagreen;
    min-width: 25cm;
}

header h1 {
    font-size: 30pt;
    margin: 0;
}

body {
    text-align: center;
    font-family: cursive;
    background-color: aliceblue;
    margin: 0;
    min-width: 25cm;
}

div.container{
    width: 25cm;
    margin: auto;
    margin-top: 0cm;
    padding-top: 0.5cm;
}


main.PaginaPersonale {
    width: 25cm;
    max-width: 100%;
    margin: auto;
}

span.augurio{
    text-decoration: line-through;
}

nav {
    width: 100%;
    display: block;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: unset;
    border-left-style: unset;
    margin: 0cm;
    min-width: 25cm;
}

nav.navbar > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
    
nav.navbar > ul > li {
    display: block;
    border-style: inset;
    padding: 1px;
    font-size: 25px;
    font-style: oblique;
    background-color: cyan;
    margin-top: 1px;
    border-width: 5px;
    border-color: darkgray;
}

nav.navbar > ul > li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}

img.profilo {
    max-height: 5cm;
    max-width: 10cm;
}

input.button, button.button {
    font-size: 15px;
    font-family: fantasy;
    width: 2.5cm;
    background-color: chartreuse;
}

footer {
    width: 100%;
    background-color: darkseagreen;
    margin: 0cm;
    border-top: solid;
    border-width: 3px;
    border-color: black;
    min-width: 25cm;
}

footer p:last-child {
    margin-bottom: 0px
}

form {
    margin-bottom: 0.75cm;
    margin: auto;
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    /* Altezza del footer + bordo, è una cosa strana */
    margin-bottom: -100px;
}
.footer, .push {
      height: 97px;
}
